@page
@model ProiecMPD_Marasescu_Flaviu.Pages.FilmCategories.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FilmCategory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FilmCategory.FilmID" class="control-label"></label>
                <select asp-for="FilmCategory.FilmID" class ="form-control" asp-items="ViewBag.FilmID"></select>
            </div>
            <div class="form-group">
                <label asp-for="FilmCategory.CategoryID" class="control-label"></label>
                <select asp-for="FilmCategory.CategoryID" class ="form-control" asp-items="ViewBag.CategoryID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
